.rp-container {
  border: 1px solid rgba(0,0,0,.125);
  /* max-height: 312px; */
  overflow: hidden;
}

.rp-card {
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  min-width: 147px;
  /* max-width: 240px; */
  min-height: 310px;
  overflow: hidden;
  /* max-height: 310px; */
  /* flex: 1; */
  margin-left: 5px;
  position: relative;
}
.rp-card:hover {
  background-color: hsla(216, 47%, 87%, 0.20);
}

.rp-card-image-box {
  /* width:100%;
  display: flex;
  align-items: center;
  justify-content: center;*/
  /* position: absolute; */
  height:180px;
  /* width:240px; */
  overflow: hidden;
}
.rp-card-image-box img {
  /* width: 350px;
  height: auto; */
  width: 100%;
}
.rp-card-body {
  cursor: pointer;
  position: absolute;
  top:185px;
  padding-left: 5px;
}
.rp-card-category {
  /* margin: 5px 0px; */
}
.rp-card-category, p, .rp-card-price {
  font-size: .75rem;
}
.rp-card-body h5 {
  font-size: 1rem;
  /* margin-bottom: 0px; */
}
.rp-favorite {
  position: absolute;
  width: 20px;
  height: 20px;
  float: right;
  top: 5px;
  right: 5px;
  padding: 5px;
  color: hsla(54, 83%, 55%, 0.75);
  z-index: 1000;
  cursor: pointer;
}

.rp-favorite svg:hover {
  fill: hsla(54, 83%, 55%, 1.00);
}
.rp-favorite svg {
  position: absolute;
  float: left;
  top: 0;
  left: 3px;
}
/* SLICK CAROUSEL THEME */
@charset 'UTF-8';
.slick-dots, .slick-next, .slick-prev {
  position: absolute;
  display: block;
  padding: 0
}

.slick-dots li button:before, .slick-next:before, .slick-prev:before {
  /* font-family: slick; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.slick-loading .slick-list {
  background: url(ajax-loader.gif) center center no-repeat #fff
}
.slick-prev, .slick-next {
    font-size: 0;
    /* position: absolute; */
    /* bottom: 20px; */
    color: #a1a0a0;
    border: 0;
    /* background: none; */
    /* z-index: 1; */
    top: 50%;
    width: 20px;
    height: 20px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0
}
.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
  color: transparent;
  outline: 0;
  background: 0 0
}

.slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before {
  opacity: 1
}

.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
  opacity: .25
}

.slick-prev:after {
	  content: "\f104";
    font: 40px/1 'FontAwesome';
}
.slick-next:before, .slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #fff
}
.slick-prev {
  left: -25px
}
.slick-prev:before {
  content: '\2190'
}

.slick-next:before, [dir=rtl] .slick-prev:before {
  content: '\2192'
}
.slick-next {
    /* right: 20px; */
    right: -25px
    text-align: right;
}

.slick-next:after {
	   content: "\f105";
     font: 40px/1 'FontAwesome';
}

.slick-prev:hover:after,
.slick-next:hover:after {
    color: #7e7e7e;
}
/* .slick-dotted .slick-slider {
  margin-bottom: 30px
} */
.slick-dots {
  bottom: -25px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0
}

.slick-dots li button:focus, .slick-dots li button:hover {
  outline: 0;
}

.slick-dots li button:focus:before, .slick-dots li button:hover:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "\f111";
  font: 14px/1 'FontAwesome';
  font-weight: 700;
  color: #7e7e7e;
  line-height: 20px;
  /* content: 'â€¢'; */
  text-align: center;
  opacity: .25;
  color: #000;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #000
}
