.rp-container {
  border: 1px solid rgba(0,0,0,.125);
  /* max-height: 312px; */
  overflow: hidden;
}

.rp-card {
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  min-width: 147px;
  /* max-width: 240px; */
  min-height: 310px;
  overflow: hidden;
  /* max-height: 310px; */
  /* flex: 1; */
  margin-left: 5px;
  position: relative;
}
.rp-card:hover {
  background-color: hsla(216, 47%, 87%, 0.20);
}

.rp-card-image-box {
  /* width:100%;
  display: flex;
  align-items: center;
  justify-content: center;*/
  /* position: absolute; */
  height:180px;
  /* width:240px; */
  overflow: hidden;
}
.rp-card-image-box img {
  /* width: 350px;
  height: auto; */
  width: 100%;
}
.rp-card-body {
  cursor: pointer;
  position: absolute;
  top:185px;
  padding-left: 5px;
}
.rp-card-category {
  /* margin: 5px 0px; */
}
.rp-card-category, p, .rp-card-price {
  font-size: .75rem;
}
.rp-card-body h5 {
  font-size: 1rem;
  /* margin-bottom: 0px; */
}
.rp-favorite {
  position: absolute;
  width: 20px;
  height: 20px;
  float: right;
  top: 5px;
  right: 5px;
  padding: 5px;
  color: hsla(54, 83%, 55%, 0.75);
  z-index: 1000;
  cursor: pointer;
}

.rp-favorite svg:hover {
  fill: hsla(54, 83%, 55%, 1.00);
}
.rp-favorite svg {
  position: absolute;
  float: left;
  top: 0;
  left: 3px;
}
.slick-prev,
.slick-next {
    font-size: 0;
    /* position: absolute; */
    /* bottom: 20px; */
    color: #a1a0a0;
    border: 0;
    background: none;
    z-index: 1;
}

.slick-prev {
    /* left: 20px; */
}

.slick-prev:after {
	  content: "\f104";
    font: 40px/1 'FontAwesome';
}

.slick-next {
    /* right: 20px; */
    text-align: right;
}

.slick-next:after {
	   content: "\f105";
     font: 40px/1 'FontAwesome';
}

.slick-prev:hover:after,
.slick-next:hover:after {
    color: #7e7e7e;
}
.slick-dots {
  /* content: "\f111"; */
}
.slick-dots li button:before {
  /* font-size: 12px; */
  content: "\f111";
  font: 14px/1 'FontAwesome';
  font-weight: 700;
  fill: #a1a0a0;
}
