.rp-container {

  min-height: 220px;
  border: 1px solid rgba(0,0,0,.125);
}
.rp-row {
  padding: 10px;
  margin-left: 0;
}
.rp-col {
  position: relative;
}
.rp-card, li.rp-card {
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  /* background-color:#ccc; */
  min-width: 145px;
  max-width: 210px;
  min-height: 310px;
  max-height: 310px;
  margin-left: 5px;
  padding: 0px;
  overflow: hidden;
  line-height: 1.25;
}
.rp-card:hover {
  background-color: hsla(216, 47%, 87%, 0.20);
}
li.rp-card {
  width: 210px;
}
.rp-card:first-child, li.rp-card:first-child{
  margin-left: 0;
}
.rp-card-image-box {
  width:100%;
  /* max-height:175px;
  max-width: 200px; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.rp-card img {
  max-height: 185px;
}
.rp-card-body {
  cursor: pointer;
  position: absolute;
  top:185px;
  padding-left: 5px;
}
.rp-card-category {
  margin: 5px 0px;
}
.rp-card-category, p, .rp-card-price {
  font-size: .75rem;
}
.rp-card-body h5 {
  font-size: 1rem;
  margin-bottom: 0px;
}
.rp-favorite {
  position: relative;
  width: 20px;
  height: 20px;
  float: right;
  top: 5px;
  right: 5px;
  padding: 5px;
  color: hsla(54, 83%, 55%, 0.45);
  z-index: 5000;
  cursor: pointer;
  /* background-color: #fff; */
}

.rp-favorite svg:hover {
  fill: hsla(54, 83%, 55%, 0.95);
}
.rp-favorite svg {
  position: absolute;
  float: left;
  top: 0;
  left: 3px;

}
