.rp-container {

  min-height: 220px;
  border: 1px solid rgba(0,0,0,.125);
}
.rp-row {
  padding: 10px;
  margin-left: 0;
}
.rp-col {
  position: relative;
}
.rp-card{
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  background-color:#ccc;
  min-width: 145px;
  max-width: 210px;
  min-height: 300px;
  max-height: 300px;
  margin-left: 5px;
  padding: 5px 10px;
}
